/* color message: #454D66 #309975 #58B368 #DAD873 #EFEEB4 */
body {
  background-color: #f7f7db;
}

.bar-style-timeline {
  background-color: #454D66;
  color: white;
}

.bar-style-money {
  background-color: #DAD873;
  color: black;
}
