.btn-primary{
          background-color: #58B368;
          border:#58B368;
}
.btn-danger{
          background-color:rgb(238, 207, 69);
          border:rgb(238,207,69);
}
body{
          background-color: #f7f7db;
}

